@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");

$font-family: "Noto Sans", sans-serif;

.about-me-container {
  color: white;
  font-family: $font-family;
}

.about-me-name {
  font-size: 3rem;
}

.about-me-title {
  padding-bottom: 5px;
  border-bottom: 1px solid #333;
}

.row {
  padding: 10px;
  justify-content: center;
  align-items: center;
}

.about-me-description,
.about-me-title {
  color: #838282;
  font-size: 1rem;
}

img {
  width: 25px;
  height: 25px;
}
