@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");

$font-family: "Noto Sans", sans-serif;

.about-me-container {
  color: white;
  font-family: $font-family;
}

.about-me-name {
  font-size: 3rem;
}

.about-me-stack {
  font-size: 1.5rem;
  margin-top: 200px;
  margin-bottom: 100px;
}

.about-me-title {
  padding-bottom: 5px;
  border-bottom: 1px solid #333;
}

.row {
  padding: 10px;
  justify-content: center;
  align-items: center;
}

.about-me-description,
.about-me-title {
  color: #838282;
  font-size: 1rem;
}

.about-me-skills {
  font-family: $font-family;
  font-size: 1.25rem;
  gap: 30px;
  padding-bottom: 75px;
}

.about-me-skills-title {
  font-size: 2.25rem;
  font-weight: bold;
}
.about-me-skills img {
  margin-right: 10px;
}
.brand-logo {
  width: 30px;
  height: 30px;
}

.brand-logo-dotnet {
  width: 50px;
  height: 30px;
}
.brand-logo-tailwind {
  width: 40px;
  height: 30px;
}
