@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");

$font-family: "Noto Sans", sans-serif;

.contact-section-title {
  font-size: 1.1rem;
  font-family: $font-family;
  font-weight: 400;
  color: white;
  padding-top: 3rem;
  text-align: center;
}

.contact-section-subtitle {
  font-size: 2rem;
  font-family: $font-family;
  font-weight: 400;
  color: white;
  text-decoration: none;
  text-align: center;
}

.contact-section-subtitle {
  a {
    color: white;
    text-decoration: none;
  }
  &:hover {
    text-decoration: underline;
  }
}
